<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
        <script src="/js/highcharts.js" type="text/javascript"></script>
        
        <script type="text/javascript">
        
        <% 
        @charts.each_with_index do |chart, cnum|
         %>
        
        var chart_<%=cnum%>;
        $(document).ready(function() {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
           chart_<%=cnum%> = new Highcharts.Chart({
              chart: {
                 renderTo: 'container_<%=cnum%>',
                 zoomType: 'x',
                 spacingRight: 20,
                 spacingTop: 100
              },
               title: {
                 text: '' //'starting: <%=chart.start_time.to_s%>'
              },
               subtitle: {
                 text: '' //'select plot area to zoom in'
              },
              xAxis: {
                 type: 'datetime',
                 dateTimeLabelFormats: {
                     hour: '%H:%M <br/> (%m/%e)',
                     minute: '%H:%M <br/> (%m/%e)'
                 },
                 maxZoom: 1 * 3600 * 1000, //  1 hour
                 title: {
                    text: null
                 }
              },
              yAxis: {
                 title: {
                    text: 'time in ms'
                 },
                 min: 300,
                 max: 1000, 
                 startOnTick: false,
                 showFirstLabel: false
              },
              tooltip: {
                 shared: true,
                 formatter: function(){
                     d = new Date(this.x);
                     s = d.getSeconds() >= 10 ? d.getSeconds() : '0' + d.getSeconds();
                     return 'time: ' +
                     // this.x.format("HH:MM:ss") + 
                     d.getHours() + ':' + d.getMinutes() + ':' + s + '<br/>' +
                     'latency: ' + new Number(this.points[0].y).toFixed(0) + ' ms';
                 }              
              },
              legend: {
                 enabled: false
              },
              plotOptions: {
                 area: {
                    fillColor: {
                       linearGradient: [0, 0, 0, 300],
                       stops: [
                          [0, Highcharts.getOptions().colors[0]],
                          [1, 'rgba(2,0,0,0)']
                       ]
                    },
                    lineWidth: 1,
                    marker: {
                       enabled: false,
                       states: {
                          hover: {
                             enabled: true,
                             radius: 5
                          }
                       }
                    },
                    shadow: false,
                    states: {
                       hover: {
                          lineWidth: 1                  
                       }
                    }
                 }
              },

              series: [{
                 type: 'area',
                 name: 'response times',
                 //pointInterval: <%= chart.interval %>,
                 //pointStart: <%= chart.start_time_utc_millis %>,
                 data: <%= chart.data_with_time_to_js_array %>
              }]
           });


        });
        <% end %>
        </script>
    </head>
    <body>
        <h1 style="text-align: center;">Response Times</h1>
        <a href="<%=url(@curr_page + 1)%>">prev</a> 
        <% if @curr_page > 0 %>
        &nbsp;|&nbsp;<a href="<%=url(@curr_page - 1)%>">next</a>
        <% end %>
        <% @charts.size.times do |cnum| %>
        
        
        <div id="container_<%=cnum%>" class="highcharts-container" style="margin-top: 50px; height: 500px; min-width: 800px; clear: both; margin: 0 2em;">
            
        </div>
        
        <% end %>
    </body>
</html>